@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Primary colors */
:root {
  --color-primary-blue: hsl(246, 80%, 60%);
  --color-primary-light-red-work: hsl(15, 100%, 70%);
  --color-primary-soft-blue-play: hsl(195, 74%, 62%);
  --color-primary-light-red-study: hsl(348, 100%, 68%);
  --color-primary-lime-green-exercise: hsl(145, 58%, 55%);
  --color-primary-violet-social: hsl(264, 64%, 52%);
  --color-primary-soft-orange-self-care: hsl(43, 84%, 65%);
}

/* Neutral colors */
:root {
  --color-neutral-very-dark-blue: hsl(226, 43%, 10%);
  --color-neutral-dark-blue: hsl(235, 46%, 20%);
  --color-neutral-desaturated-blue: hsl(235, 45%, 61%);
  --color-neutral-pale-blue: hsl(236, 100%, 87%);
}

.App {
  display: flex;
  flex-direction: row;
}

.profile {
  width: 18rem;
  background-color: var(--color-primary-blue);
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
}

.profile > img {
  width: 6.8rem;
  height: 6.8rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.profile > p {
  font-size: 1.5rem;
  color: var(--color-neutral-pale-blue);
  padding-top: 2rem;
}
.profile > h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 300;
}

.time-frame {
  width: 18rem;
  background-color: var(--color-neutral-dark-blue);
  border-radius: 0 0 1rem 1rem;
  padding: 2rem;
}

.time-frame > ul {
  list-style: none;
  color: var(--color-neutral-pale-blue);
  font-size: 1.8rem;
}

.time-frame > ul > li {
  padding-bottom: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.time-frame > ul > li:hover {
  color: #fff;
}

.time-frame > ul > li::selection {
  color: #fff;
}

main {
  border: 1px solid red;
  width: 20rem;
  height: 20rem;
}
