@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-very-dark-blue);
}

/* Primary colors */
:root {
  --color-primary-blue: hsl(246, 80%, 60%);
  --color-primary-light-red-work: hsl(15, 100%, 70%);
  --color-primary-soft-blue-play: hsl(195, 74%, 62%);
  --color-primary-light-red-study: hsl(348, 100%, 68%);
  --color-primary-lime-green-exercise: hsl(145, 58%, 55%);
  --color-primary-violet-social: hsl(264, 64%, 52%);
  --color-primary-soft-orange-self-care: hsl(43, 84%, 65%);
}

/* Neutral colors */
:root {
  --color-neutral-very-dark-blue: hsl(226, 43%, 10%);
  --color-neutral-dark-blue: hsl(235, 46%, 20%);
  --color-neutral-desaturated-blue: hsl(235, 45%, 61%);
  --color-neutral-pale-blue: hsl(236, 100%, 87%);
}

.App {
  display: flex;
  flex-direction: row;
}

.profile {
  width: 20rem;
  background-color: var(--color-primary-blue);
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
}

.profile-name {
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.profile > img {
  width: 6.8rem;
  height: 6.8rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.profile > p {
  font-size: 1.5rem;
  color: var(--color-neutral-pale-blue);
  padding-top: 2rem;
}
.profile > h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 300;
}

.time-frame {
  width: 20rem;
  background-color: var(--color-neutral-dark-blue);
  border-radius: 0 0 1rem 1rem;
  padding: 2rem;
}

.time-frame > ul {
  list-style: none;
  color: var(--color-neutral-pale-blue);
  font-size: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.time-frame > ul > li {
  padding-bottom: 1rem;
  font-weight: 300;
  cursor: pointer;
  padding-bottom: 1rem;
}

.time-frame > ul > li::selection {
  color: #fff;
}

.main {
  width: 90rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-left: 4rem;
  padding-top: 1rem;
}

.image-container {
  background-color: var(--color-primary-light-red-work);
  height: 15%;
  width: 25rem;
  border-radius: 1rem 1rem 0 0;
}

.image-container > img {
  height: 3rem;
  padding-left: 80%;
}

.container {
  background-color: var(--color-neutral-dark-blue);
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  z-index: 1000;
  width: 25rem;
}

.container > h1 {
  font-size: 1.8rem;
  color: #fff;
}
.container > h2 {
  font-size: 5.6rem;
  color: #fff;
  font-weight: lighter;
}
.container > h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: lighter;
  color: var(--color-neutral-pale-blue);
}

.selected {
  color: #fff;
}

@media screen and (max-width: 768px) {
  body {
    height: auto;
    flex-direction: column;
  }
  .App {
    flex-direction: column;
  }

  nav {
    width: 150%;
  }
  .profile {
    width: 120%;
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    margin-bottom: 0;
  }

  .profile-name {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .profile > img {
    width: 6.4rem;
    height: 6.4rem;
  }

  .profile > h1 {
    font-size: 2.4rem;
  }

  .time-frame {
    margin: 0 auto;
    width: 120%;
    padding: 1rem;
  }

  .time-frame > ul {
    display: flex;
    justify-content: space-between;
  }

  .time-frame > ul > li {
    padding-top: 2rem;
  }

  .main {
    width: 150%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .box {
    margin-bottom: 2rem;
    margin-left: -40px;
  }

  .image-container {
    width: 120%;
  }

  .image-container > img {
    height: 3rem;
    padding-left: 80%;
  }

  .container {
    background-color: var(--color-neutral-dark-blue);
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    z-index: 1000;
    width: 120%;
  }

  .container > h1 {
    font-size: 1.8rem;
    color: #fff;
  }
  .container > h2 {
    font-size: 3.2rem;
    color: #fff;
    font-weight: lighter;
  }
  .container > h3 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: lighter;
    color: var(--color-neutral-pale-blue);
  }
}
